﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>

    <title>Benefits Hub </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Chris Langston">

    <base href="/">

    <link href="styles/bootstrap.css" rel="stylesheet" />

    <style>
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>

    <link rel="shortcut icon" href="favicon.ico">



    <script>
    </script>



</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Benefits Hub Central</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Compare Packages</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="#">Benefits Calculator</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login/Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Welcome to Benefits Hub</h1>
                <h2 class="text-muted">The quickest and easiest way to compare and manage your Employee Benefits</h2>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
            </div>
        </div>
    </div>

    <div class="row" ng-controller="homeController as vm">
        <div class="col-md-6">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="vm.user.username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="vm.user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" placeholder="Confirm Password" ng-model="vm.user.confirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-primary" ng-click="vm.registerUser()">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>            
        </div>


    </div>





</div>

    <script src="bower_components/jQuery/dist/jquery.min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/factoryUser.js"></script>
    <script src="app/homeController.js"></script>
</body>
</html>
